@font-face {
  font-family: Trench;
  src: url("assets/fonts/trench100.ttf") format("opentype");
}

.sign-out{
  /* signout button background */
  background-color: rgb(112, 76, 182);
  /* signout button text color */
  color: white;
  /* signout button border */
  border: 1px solid rgb(112, 76, 182);
  /* signout button border radius */
  border-radius: 5px;
  /* signout button padding */
  padding: 5px 10px;
  /* width of signout button */
  width: 100px;
}

.navbar-wrapper{
  padding-top: 70px;
  padding-left: 20px;
  padding-bottom: 80px;
  background-image: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png);
  background-repeat: repeat;
  background-color: #1E333B;
}

.navbar{
  /* navbar text color */
  color: white;
  font-family: 'Trench';
  display: flex;
  flex-direction: row;
  align-items: stretch
}

.navbar-left{
  width: fit-content;
  padding-left: 50px;
}

.navbar-right{
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .navbar-right{
    display: none;
  }
}

.navbar-item{
  /* navbar item text color */
  color: white;
  /* navbar item text decoration */
  text-decoration: none;
  /* navbar item font size */
  font-size: 25px;
  /* center text */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: fit-content;
  text-shadow: 0px 0px 5px black;
}

.navbar-item a{
  /* navbar item text color */
  color: white;
  /* navbar item text decoration */
  text-decoration: none;
}

/* .navbar-item a:hover{
  color:  rgb(112, 76, 182);
} */

/* 
.navbar-item:hover{
  /* navbar item text color */
  /* color: rgb(112, 76, 182); */
  /* navbar item text decoration */
  /* text-decoration: none; */
  /* navbar item font size */
  /* font-size: 18px;
  background-color: white;
  cursor: pointer;
}  */


table, th, td {
  border:1px solid black;
}