@font-face {
  font-family: Trench;
  src: url("assets/fonts/trench100.ttf") format("opentype");
}

.sign-out{
  /* signout button background */
  background-color: rgb(112, 76, 182);
  /* signout button text color */
  color: white;
  /* signout button border */
  border: 1px solid rgb(112, 76, 182);
  /* signout button border radius */
  border-radius: 5px;
  /* signout button padding */
  padding: 5px 10px;
  /* width of signout button */
  width: 100px;
}

.navbar-wrapper{
  padding-top: 70px;
  padding-bottom: 80px;
  background-image: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png);
  background-repeat: repeat;
  background-color: #1E333B;
  border: 1px solid #1E333B;
  overflow: hidden;
}

.navbar{
  /* navbar text color */
  color: white;
  font-family: 'Trench';
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

.navbar-left{
  width: fit-content;
  padding-left: 30px;
}

.navbar-right{
  padding-left: 100px;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.navbar-login-wrapper{
  width: fit-content;
  display: flex;
  flex-direction: row;
}


.choose-line-game-instructions-wrapper{
  margin-left: 55px;
}

.choose-line-game-table{
  margin-left: 55px;
  font-family: Trench;
  font-weight: bold;
}

.choose-line-game-table table{  
  border: 1px solid white;
  color: white;
  width: 75vw;
  margin-bottom: 200px;
  border-radius: 10px;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px white; 
}

.choose-line-game-table th{
  border-color: white;
}

.choose-line-game-table td{
  border-color: white;
  /* center text */
  text-align: center;
}

.choose-line-game-show-algorithm-wrapper{
  margin-left: 55px;
  color: white;
  margin-bottom: 20px;
}

.choose-line-game-code{
  margin-left: 55px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
}

.submit-cp-wrapper{
  padding-left: 75px;
  margin-bottom: 20px;
}

.submit-cp-header-container{
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 768px) {

  .submit-cp-wrapper{
    padding-left: 0px;
    text-align: center;
  }

  .submit-cp-header-container{
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-left{
    padding-left: 0px;
  }

  .navbar-right{
    display: none;
  }

  .choose-line-game-misc-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* vertical gap of 10px between child elements */
    gap: 20px;
  }

  .choose-line-game-misc-wrapper span{
    margin-left: 0px !important;
  }

  .choose-line-game-instructions-wrapper{
    margin-left: 0px;
    text-align: center;
  }


  .choose-line-game-table{
    margin-left: 0px;
    /* centralize table */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .choose-line-game-show-algorithm-wrapper{
    margin-left: 0px;
    text-align: center;
  }

  .choose-line-game-code{
    margin-left: 20px;
    font-size: 13px;
  line-height: 13px;
  }
}

.navbar-item{
  /* navbar item text color */
  color: white;
  /* navbar item text decoration */
  text-decoration: none;
  /* navbar item font size */
  font-size: 25px;
  /* center text */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: fit-content;
  text-shadow: 0px 0px 5px black;
}

.navbar-item a{
  /* navbar item text color */
  color: white;
  /* navbar item text decoration */
  text-decoration: none;
}

/* .navbar-item a:hover{
  color:  rgb(112, 76, 182);
} */

/* 
.navbar-item:hover{
  /* navbar item text color */
  /* color: rgb(112, 76, 182); */
  /* navbar item text decoration */
  /* text-decoration: none; */
  /* navbar item font size */
  /* font-size: 18px;
  background-color: white;
  cursor: pointer;
}  */


table, th, td {
  border:1px solid black;
}