.sign-out{
  /* signout button background */
  background-color: rgb(112, 76, 182);
  /* signout button text color */
  color: white;
  /* signout button border */
  border: 1px solid rgb(112, 76, 182);
  /* signout button border radius */
  border-radius: 5px;
  /* signout button padding */
  padding: 5px 10px;
  /* width of signout button */
  width: 100px;
}

.navbar-wrapper{
  padding-top: 70px;
  padding-left: 100px;
  padding-bottom: 80px;
  background-image: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png);
  background-repeat: repeat;
  background-color: #1E333B;
}

.navbar{
  /* navbar text color */
  color: white;
  padding: 5px 10px;
  /* width of navbar */
  width: 100%;
  /* height of navbar */
  height: 50px;
  /* navbar display */
  display: flex;
  /* navbar flex direction */
  flex-direction: row;
  /* navbar justify content */
  justify-content: space-between;
  /* navbar align items */
  align-items: center;
  font-family: 'Trench';
}

.navbar-item{
  /* navbar item text color */
  color: white;
  /* navbar item text decoration */
  text-decoration: none;
  /* navbar item font size */
  font-size: 18px;

  /* center text */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: fit-content;
}


.navbar-item a{
  /* navbar item text color */
  color: white;
  /* navbar item text decoration */
  text-decoration: none;
  /* navbar item font size */
  font-size: 18px;  
}

/* .navbar-item a:hover{
  color:  rgb(112, 76, 182);
} */

/* 
.navbar-item:hover{
  /* navbar item text color */
  /* color: rgb(112, 76, 182); */
  /* navbar item text decoration */
  /* text-decoration: none; */
  /* navbar item font size */
  /* font-size: 18px;
  background-color: white;
  cursor: pointer;
}  */


table, th, td {
  border:1px solid black;
}