.code-input-incorrect {
    width: 800px;
    margin-top: 20px;
    color: red;
}

.code-input-correct {
    width: 800px;
    margin-top: 20px;
    color: green;
}

.code-input-semi {
    width: 800px;
    margin-top: 20px;
    color: orange;
}

.answers-typed {
    margin-top: 20px;
    width: 800px;
    overflow: auto;
}

.button-div {
    background-color: blue;
    color: white;
    border-radius: 10%;
    text-align: center;
    padding: 5px;
}

.button-div-alert {
    background-color: red;
    color: white;
    border-radius: 10%;
    text-align: center;
    padding: 5px;
}

.toggle-algorithm-options {
    display: flex;
    flex-direction: row;
    /* vertical align child elements */
    align-items: center;
    gap: 10px
}

.mistake-modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mistake-modal{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}